{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
    <h2 style="padding:10px;">All Posts</h2>
    <div class="card-box">
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <p><strong style="font-size: 20px;">New Post</strong></p>
            <textarea rows="4" cols="20" name="content" placeholder="How are you feeling today?"></textarea>
            <input class="btn btn-primary" type="submit" value="post">
        </form>
    </div>
    {% endif %}
    {% for post in posts %}
        <div class="card-box">
            <p><a class="post-author" href="{% url 'profile' post.poster.id %}">{{ post.poster }}</a></p>
            <a href="{% url 'edit' %}">edit</a>
            <p>{{ post.content }}</p>
            <p class="post-time">{{ post.post_time }}</p>
            <p>{{ post.like.count }}</p>
        </div>
    {% endfor %}

{% endblock %}